body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    background: url(https://content.nationalgeographic.pt/medio/2024/01/20/stsci-01g8h16r2hr90j3q2hf4b6f4hn_2f47fb5a_240120120324_1280x1306.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
    h1{
        text-align: center;
        color: rgb(250, 250, 255);
    }

    form{
        background-color: #faebd770;
        padding: 25px;
        border-radius: 10px;
        max-width: 400px;
        margin: auto;
        box-shadow: 0 0 10px rgb( 99, 1, 226);


    }

    label{
        font-weight: bold;
        display: block;
        margin: 10px 0 5px 0;  
    }


    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="number"],
    input[type="url"],
    input[type="tel"],
    input[type="date"],
    input[type="color"],
select,
textarea{

    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid 3#ccc;
    box-sizing: border-box;
    width: calc(100% - 25px);
}

input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
}



